apiVersion: v1
kind: Namespace
metadata:
  name: arc-runners
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gha-hook-job-started
  namespace: arc-runners
data:
  hook_job_started.sh: |-
    set -eux
    echo "hello world"
    pwd
    ls -la
    set
    echo 'https://api.github.com/repos/${{ github.repository }}/commits'
    # curl --request GET \
    #   --url "https://api.github.com/repos/${{ github.repository }}/commits" \
    #   --header "Authorization: Bearer ${{ github.token }}" \
    #   --header "X-GitHub-Api-Version: 2022-11-28"
